{% extends "layout.html" %}



{% block body %}
<div class="container">
  <div class="col-lg-12 text-center">
    <h1 class="mt-5"> greatReads </h1> <br>
    <p class="lead"> Search for your favourite books </p> <br>
  </div>

  <div class="col text-center">
    <a href="/login" class="btn btn-primary btn-lg active " role="button" aria-pressed="true">Login</a>
    <a href="/register" class="btn btn-secondary btn-lg active " role="button" aria-pressed="true">Register</a>
  </div>
</div>

{% endblock %}
